<div class="card" style="width: auto;">
  <div class="card-body">
    <h5 class="card-title">Order Summary</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <hr>
    <div class="summary-container">
      <div class="col-12 line-item">
        sub total:
      </div>
      <div class="col-12 line-item">
        other charges:&nbsp; <i class="fa fa-info-circle"></i>
      </div>
      <div class="col-12 line-item">
        tax:
      </div>
      <div class="col-12 line-item">
        Total:
      </div>
    </div>
    <a routerLink="" class="btn btn-warning btn-block mt-4">Proceed to Checkout&nbsp; <i
        class="fa fa-cart-plus"></i></a>
  </div>
</div>