div.products-border {
  border-left: solid thin #e9e9e9;
}
div.times-box {
  // margin-right: 3px;
  // padding-left: 32px;

  i.fa.fa-times {
    color: #999999;
    border: solid thin rgb(199, 199, 199);
    padding: 3px 6px;
    border-radius: 2px;
    font-size: 0.6rem;
    cursor: pointer;
  }
}
