<div class="container">
  <div class="offset-0">
    <h5 class="section-title mb-5">Template Name</h5>
    &nbsp; <span class="badge badge-primary cart-count">3</span>
  </div>

  <!-- header row -->
  <div class="row mb-3 header-row">
    <div class="col-auto hide-header"><i class="fa fa-align-justify"></i></div>
    <div class="col-auto hide-header"><input type="checkbox"></div>
    <div class="col-1">
      Prodcut
    </div>
    <div class="col-7">
      Details
    </div>
    <div class="col-1">
      Price
    </div>
    <div class="col-1">
      Qty
    </div>
    <div class="col-1 text-center text-danger"><i class="fa fa-times"></i></div>

    <div class="row">

    </div>
  </div>