div.hide-header {
  visibility: hidden;
}
.move-icon {
  cursor: pointer;
}

.header-row {
  border-bottom: solid thin #e8e8e8;
  padding-bottom: 12px;
}
.details {
  div {
    margin-bottom: 12px;
  }
}
